@{
    ViewBag.Title = "Despre noi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Aceasta este o aplicație de gestiune pentru un centru de adopții de câini.<br /><br />
    <strong>Adminul</strong> este cel ce se ocupă de rolurile și utilizatorii aplicației.<br />
    <strong>Operatorul</strong> poate accesa și modifica date precum cele despre județele și localități.<br />
    Orice angajat cu un cont de <strong>utilizator</strong> poate gestiona persoane, câini și adopții.<br /></p>
