@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Adresa:<br />
    Strada, WA 98052-6399<br />
    <abbr title="Phone">Telefon:</abbr>
    425.555.0100
</address>

<address>
    <strong>Suport:</strong>   <a href="mailto:admin@daw.ro">admin@daw.ro</a><br />
    <strong>Asistență:</strong> <a href="mailto:operator@daw.ro">operator@daw.ro</a>
</address>