<div class="modal fade" id="modalAdoptii" tabindex="-1" role="dialog" aria-labelledby="lblModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="lblModal"></h4>
            </div>
            <div class="modal-body" id="adoptii">
                Aici vor fi afișate adopțiile într-un tabel
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Închide</button>
            </div>
        </div>
    </div>
</div>
